libc/plinko
libc/plinko-single
libc/plinko-density
libc/plinko-directdraw
libc/plinko-twotone
libc/plinko-nbounces
*.so
*.a
*.lua.c
*.exe
*.o
*.conf
*.pegs
*.npy
*.track
*.png
*.pgm
*.img
*.csv
*.bin
data/
