c/plinko
c/plinko-single
c/plinko-density
c/plinko-directdraw
c/plinko-twotone
c/plinko-nbounces
*.so
*.a
*.lua.c
*.exe
*.o
*.conf
*.pegs
*.npy
*.track
*.png
*.pgm
*.img
*.csv
*.bin
*.svg
*.collisions
*.time
data/
nim/js.js
nim/web/js.js
